{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    .form-signin {
    max-width: 330px;
    padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
    z-index: 2;
    }

    .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

    .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    .h3{
        text-align: center;
    }

</style>

<main class="form-signin w-100 m-auto">
    <form method="post">{% csrf_token %}
      <div class="d-flex flex-column pb-1">
        <img class="img-fluid w-100 mx-auto d-block" src="{% static 'FATOchainLogo.jpg' %}" alt="FATOchain Logo" width="72" height="72">
      </div>
      <h1 class="h3 mb-3 fw-normal">Register</h1>
  
      <div class="form-floating">
        <label for="floatingInput">Email address</label>
        <input type="email" name="email" class="form-control" id="floatingInput" required autofocus>
      </div>

      <div class="form-floating">
        <label for="floatingInput">Username</label>
        <input type="text" name="username" class="form-control" id="floatingUsername" required>
      </div>

      <div class="form-floating">
        <label for="floatingPassword">Password</label>
        <input type="password" name="password1" class="form-control" id="floatingPassword1" required>
      </div>

      <div class="form-floating">
        <label for="floatingPassword">Confirm password</label>
        <input type="password" name="password2" class="form-control" id="floatingPassword2" required>
      </div>
      
    {% for field in registration_form %}
         <p>
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        </p>
    {% endfor %}

    {% if registration_form.non_field_errors %}
        <div style="color: red;">
            <p>{{registration_form.non_field_errors}}</p>
        </div>
    {% endif %}

      <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
    </form>
  </main>

{% endblock content %}